.tile {
    width: 160px;
    height: 140px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    position: relative;
    border: 4px solid black;
}

.tile img {
    text-align: center;
    width: 80%;
    display: block;
    margin: 10px;
}

.emoji {
    height: 100px;
    width: 80px;
    margin: 10px;
}

.tile .front {
    transform: rotateY(90deg);
    position: absolute;
}
.flipped {
    text-align: center;
}
.flipped .front {
    transform: rotateY(0deg);
}