.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-heading {
    text-decoration: underline;
}

.score-and-timer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.details {
    font-weight: bold;
    text-decoration: underline;
font-size: 26px;
}

.tiles-container {
    width: 70%;
    min-height: 80vh;
    border: 2px solid black;
}

.welcome-name-contanier {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.all-tiles-container {
    display: flex;
    flex-wrap: wrap;
}